<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			{% block title %}CIRO IMMO
			{% endblock %}
		</title>
		{% block stylesheets %}
			{# 'app' must match the first argument to addEntry() in webpack.config.js #}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="/build/app.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
		{% endblock %}
	</head>
	<body>
		{% include 'navigation.html.twig'%}
		{% block body %}{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="/build/runtime.js"></script>
			<script src="/build/app.js"></script>
		{% endblock %}
	</body>
</html>
