<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="{{path('accueil')}}"><img class="logo" src="{{asset('build/images/key.png')}}" title="my image" alt="My image">CIRO IMMOBILIER</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item {% if app.request.get('_route') == 'accueil' %} active{% endif %}">
				<a class="nav-link" href="{{path('accueil')}}">Accueil
					<span class="sr-only">(current)</span>
				</a>
			</li>
		</ul>
	</div>
</nav>
