{% extends "layout.html.twig" %}

{% block body %}
	<div class="container mt-4">
		<h2>Toutes les propriétés en vente</h2>
		<div class="row">
			{% for property in properties %}
				<div class="col-3 m-4">
					<div class="card" style="width: 18rem; height: 18rem;">
						<img class="card-img-top" src="..." alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">{{property.title}}</h5>
							<p class="card-text">{{property.description}}</p>
						</div>
						<div class="card-footer border-top-0">
							<a href="{{ path('property', {'id': property.id}) }}" class="btn btn-primary">Voir</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
